<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dting.show.server.mapper.MessageTaskRunSnapshotMapper">

    <insert id="ignoreOnlyBatchInsert">
        insert ignore into message_task_run_snapshot(
            `unique_key`,`message_tag`,`message_ip`,`collect_time`,
            `thread_pool_name`, `thread_pool_group_name`,`task_name`,`start_time`,`end_time`,`success`,
            `rejected`,`error_msg`,`active_count`,`queue_remaining_capacity`,`queue_size`
        )
        values
        <foreach collection="messageTaskRunSnapshotList" item="messageTaskRunSnapshot" separator=",">
            (
                #{messageTaskRunSnapshot.uniqueKey}, #{messageTaskRunSnapshot.messageTag}, #{messageTaskRunSnapshot.messageIp}, #{messageTaskRunSnapshot.collectTime},
                #{messageTaskRunSnapshot.threadPoolName}, #{messageTaskRunSnapshot.threadPoolGroupName}, #{messageTaskRunSnapshot.taskName}, #{messageTaskRunSnapshot.startTime}, #{messageTaskRunSnapshot.endTime}, #{messageTaskRunSnapshot.success}, #{messageTaskRunSnapshot.rejected},
                #{messageTaskRunSnapshot.errorMsg}, #{messageTaskRunSnapshot.activeCount}, #{messageTaskRunSnapshot.queueRemainingCapacity}, #{messageTaskRunSnapshot.queueSize}
            )
        </foreach>
    </insert>
</mapper>