<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dting.show.server.mapper.MessageCpuSnapshotMapper">

    <insert id="batchInsert">
        insert into
        message_cpu_snapshot(`server_env`,`server_key`,`instance_key` ,`message_ip`,`collect_time`,`total_use`,`user_use`,`system_use`,`wait`,`error`,`idle`,`cpu_info`)
        values
        <foreach collection="messageCpuSnapshotList" item="messageCpuSnapshot" separator=",">
            (#{messageCpuSnapshot.serverEnv}, #{messageCpuSnapshot.serverKey}, #{messageCpuSnapshot.instanceKey}, #{messageCpuSnapshot.messageIp},
            #{messageCpuSnapshot.collectTime}, #{messageCpuSnapshot.totalUse}, #{messageCpuSnapshot.userUes},
            #{messageCpuSnapshot.systemUes}, #{messageCpuSnapshot.wait}, #{messageCpuSnapshot.error}, #{messageCpuSnapshot.idle},
            #{messageCpuSnapshot.cpuInfo})
        </foreach>
    </insert>
</mapper>